$primary: #c7ff00;
$black: #000000;
$black-secondary: #1b2d51;
$white: #fff;
$white-2: #f7f9fc;
$white-3: #e2e2ea;
$white-4: #9CA3AF;
$white-5: #ccc;
$white-6: #D6D6D6;
$gray: #92929d;
$red: #e40d0d;

$font-primary: "Inter", sans-serif;
$font-secondary: "Poppins", sans-serif;
$font-roboto: "Roboto", sans-serif;
