.container {
  padding: 46px 28px;
  &__inner {
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03);
  }
  &__header {
    background: $black-secondary;
    padding: 26px 27px 17px;
    border-radius: 12px 12px 0 0;
    display: flex;
    align-items: center;
    gap: 16px;
    h5 {
      color: $primary;
    }
    .button {
      .ico {
        color: $white;
      }
    }
  }
  &__content {
    padding: 0 28px;
    background: $white;
    gap: 20px;
    border-radius: 0 0 12px 12px;
  }
}

@mixin container-1280 {
  .container {
    padding: 30px 26px;
  }
}
@mixin container-940 {
  .container {
    padding: 26px 20px;
    &__header {
      padding: 24px 20px 15px;
    }
    &__content {
      padding: 0 20px;
    }
  }
}

@mixin container-580 {
  .container {
    padding: 20px 16px;
    &__header {
      padding: 20px 16px 14px;
    }
    &__content {
      padding: 0 16px;
    }
  }
}
