.welcome {
  display: flex;
  flex-direction: column;
  gap: 55px;
  padding: 76px 0 30px;
  &__box {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;
    max-width: 810px;
    margin: 0 auto;
  }
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 280px;
    margin: 0 auto 8px;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
  &__group {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
}
.form {
  padding: 38px 0 30px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  &__row {
    display: flex;
    gap: 14px;
    &._space {
      margin: 6px 0 2px;
      &Lg {
        margin-bottom: 18px;
      }
    }
    .input {
      &__wrapper {
        width: calc(25% - 7px);
        &._lg {
          width: calc(50% - 7px);
        }
      }
    }
  }
  &__footer {
    display: flex;
    flex-direction: column;
    gap: 14px;
    p {
      font-weight: 600;
    }
    &-group {
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }
  }
  .input {
    textarea {
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
.upload {
  display: flex;
  flex-direction: column;
  gap: 84px;
  padding: 46px 0 32px;
  text-align: center;
  &--sm {
    gap: 26px;
  }
  &__file {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 425px;
    min-height: 200px;
    margin: 0 auto;
    padding: 30px;
    background-image: repeating-linear-gradient(
        -36deg,
        #1b2d51,
        #1b2d51 6px,
        transparent 6px,
        transparent 12px,
        #1b2d51 12px
      ),
      repeating-linear-gradient(
        54deg,
        #1b2d51,
        #1b2d51 6px,
        transparent 6px,
        transparent 12px,
        #1b2d51 12px
      ),
      repeating-linear-gradient(
        144deg,
        #1b2d51,
        #1b2d51 6px,
        transparent 6px,
        transparent 12px,
        #1b2d51 12px
      ),
      repeating-linear-gradient(
        234deg,
        #1b2d51,
        #1b2d51 6px,
        transparent 6px,
        transparent 12px,
        #1b2d51 12px
      );
    background-size: 1px 100%, 100% 1px, 1px 100%, 100% 1px;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat;
    &._column {
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      gap: 10px;
    }
    &-item {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      @include transition;
      h4 {
        @include transition;
      }
      .button {
        &--ico {
          width: 16px;
          height: 18px;
          .ico {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  &__group {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    &-box {
      color: $black-secondary;
      font-size: 15px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
      flex-wrap: wrap;
      line-height: 1.2;
      a {
        line-height: inherit;
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
      }
    }
    &-buttons {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    .button {
      &--ico {
        width: 20px;
        height: 24px;
        color: $black;
        .ico {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  & > h4 {
    margin: 0 auto 16px;
    margin-bottom: 16px;
    max-width: 640px;
  }
  .button {
    &._sm {
      margin-left: auto;
      padding: 0.85em 1.5em 0.85em 1em;
    }
  }
}
.popUp {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: rgba(204, 204, 204, 0.5);
  backdrop-filter: blur(6.5px);
  flex-direction: column;
  display: none;
  animation-name: fadeIn;
  animation-duration: 0.3s;
  &__inner {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    &-content {
      background: $white;
      padding: 32px 40px;
      box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03);
      border-radius: 12px;
      border: 1px solid $white;
      background-color: $white-2;
      width: 100%;
      max-width: 574px;
      margin: auto;
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: center;
    }
    &-image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90%;
      max-width: 230px;
      margin: 0 auto;
      img {
        width: 100%;
      }
    }
  }
  h3 {
    max-width: 425px;
    font-family: $font-secondary;
    margin: 0 auto 14px;
  }
  p {
    max-width: 410px;
    font-size: 16px;
    margin: 0 auto 4px;
  }
  .button {
    &--ico {
      margin-left: auto;
      color: $black-secondary;
    }
  }
  &.active {
    display: flex;
  }
}
.investors {
  padding: 15px 0 50px;
  &__info {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 16px 32px 36px;
    border: 1px solid $white-4;
    border-radius: 6px;
    h6 {
      font-weight: 400;
      font-family: $font-secondary;
    }
    &-row {
      display: flex;
      gap: 6px 20px;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    &-item {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
    &-text {
      display: flex;
      gap: 14px;
      font-size: 16px;
      font-family: $font-secondary;
      strong {
        font-weight: 700;
        font-family: inherit;
      }
      span {
        font-family: inherit;
      }
    }
  }
  &__group {
    padding: 20px 0 36px;
    display: flex;
    align-items: center;
    gap: 14px;
    &-box {
      display: flex;
      align-items: center;
      gap: 14px;
    }
    &-text {
      margin-right: 30px;
      font-size: 16px;
      color: $gray;
      display: flex;
      align-items: center;
      gap: 14px;
      .ico {
        width: 16px;
        height: 18px;
        color: inherit;
      }
    }
    .input {
      width: auto;
      min-width: 206px;
      &._sm {
        min-width: 146px;
      }
      &--select {
        .input {
          &__container {
            width: 100%;
            .ico {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 18px;
              color: $gray;
              width: 13px;
              height: auto;
              @include transition;
            }
          }
          &__selected {
            padding: 0.95em 3em 0.95em 1em;
            &:hover {
              span {
                opacity: 1;
              }
            }
          }
          &__dropdown {
            &-item {
              padding: 0.95em 3em 0.95em 1em;
              &:hover {
                opacity: 1;
              }
            }
          }
          &__text {
            font-size: 16px;
            @include transition;
            strong {
              font-weight: 700;
            }
            &:hover {
              opacity: 0.7;
            }
          }
        }
        &.active .input {
          &__container {
            .ico {
              transform: translateY(-50%) rotate(180deg);
            }
          }
        }
      }
    }
    .button {
      &--primary {
        margin-left: auto;
        min-width: 244px;
        padding: 0.82em 2.05em 0.82em 3.8em;
        .ico {
          width: 0.875em;
          height: 1.1em;
          left: 23px;
        }
      }
    }
  }
  &__list {
    min-width: 845px;
    &-row {
      display: flex;
      align-items: center;
      border-bottom: 1px solid $gray;
      padding: 0 8px;
      &._header {
        padding: 0 8px;
        background: $white-2;
        border-radius: 6px 6px 0 0;
        .investors__list-column {
          padding: 10px;
        }
      }
      &.active {
        border: unset;
      }
    }
    &-column {
      padding: 20px 10px;
      min-width: 30px;
      display: flex;
      align-items: center;
      gap: 12px;
      font-size: 16px;
      strong {
        font-weight: 600;
      }
      &:nth-child(2) {
        min-width: 186px;
      }
      &:nth-child(3) {
        min-width: 168px;
      }
      &:nth-child(4) {
        min-width: 340px;
      }
      &:nth-child(5) {
        min-width: 120px;
      }
      &:nth-child(6) {
        min-width: auto;
        flex: 1;
        justify-content: flex-end;
      }
    }
    &-text {
      line-height: 1.2;
      color: $black;
      font-size: inherit;
      border-radius: 5px;
      background: $primary;
      padding: 5.5px 12px;
      &._lg {
        padding: 5.5px 16px;
      }
      &._blue {
        background: #b4e2e5;
        &Dark {
          background: #bbd2f5;
        }
      }
      &._yellow {
        background: #e8f274;
      }
    }
    &-content {
      padding: 0 60px 0;
      background: $white-2;
      box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03);
      display: flex;
      flex-direction: column;
      gap: 46px;
      opacity: 0;
      max-height: 0;
      pointer-events: none;
      transition: 0.3s ease;
      &.active {
        max-height: unset;
        opacity: 1;
        pointer-events: all;
        padding: 28px 60px 30px;
      }
    }
    &-box {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 6px 38px;
      p {
        width: 100%;
      }
    }
    &-group {
      display: flex;
      gap: 66px;
      align-items: center;
    }
    &-button {
      display: flex;
      align-items: center;
      gap: 7px;
      font-family: $font-primary;
      color: $black-secondary;
      font-size: 16px;
      @include transition;
      .ico {
        width: auto;
        height: 20px;
      }
      &:hover {
        opacity: 0.7;
      }
    }
    .button {
      &--ico {
        font-size: 13px;
        width: 2em;
        height: 2em;
        border: unset;
        .ico {
          width: 100%;
          height: 100%;
        }
      }
    }
    &-wrapper {
      overflow-x: auto;
      overflow-y: hidden;
    }
    &-tab {
      &:last-child {
        .investors__list-row {
          border: unset;
        }
      }
    }
  }
}

@mixin layouts-1280 {
  .investors {
    &__info {
      gap: 26px;
      padding: 16px 26px 28px;
      &-text {
        font-size: 15px;
      }
    }
    &__list {
      min-width: 780px;
      &-column {
        &:nth-child(2) {
          min-width: 146px;
        }
        &:nth-child(3) {
          min-width: 128px;
        }
        &:nth-child(4) {
          min-width: 300px;
        }
        &:nth-child(5) {
          min-width: 110px;
        }
      }
    }
  }
}
@mixin layouts-1160 {
  .welcome {
    padding: 50px 0 30px;
  }
  .upload {
    gap: 70px;
    &--sm {
      gap: 26px;
    }
  }
}
@mixin layouts-940 {
  .welcome {
    padding: 30px;
    gap: 40px;
    &__box {
      gap: 18px;
    }
  }
  .form {
    padding: 30px 0;
  }
  .upload {
    padding: 30px 0;
    gap: 50px;
    &--sm {
      gap: 26px;
    }
  }
}
@mixin layouts-860 {
  .form {
    gap: 20px;
    &__row {
      flex-wrap: wrap;
      gap: 20px 14px;
      .input {
        &__wrapper {
          width: calc(50% - 14px);
          &._lg {
            width: 100%;
          }
        }
      }
      &._space {
        margin: 0;
        &Lg {
          margin-bottom: 10px;
        }
      }
    }
  }
  .upload {
    &__file {
      padding: 20px;
    }
  }
  .investors {
    &__info {
      &-row {
        gap: 8px 20px;
      }
      &-item {
        width: calc(50% - 10px);
        &:last-child {
          width: 100%;
          flex-direction: row;
          gap: 8px 20px;
          .investors__info-text {
            width: calc(50% - 10px);
          }
        }
      }
    }
    &__group {
      flex-wrap: wrap;
      gap: 20px 14px;
      .button {
        &--primary {
          font-size: 14px;
          min-width: 210px;
        }
      }
      &-box {
        flex: 1;
      }
      &-text {
        width: 100%;
        margin-right: unset;
      }
      .input {
        min-width: 160px;
        flex: 1;
        &--select {
          .input {
            &__selected {
              font-size: 12px;
            }
            &__dropdwon {
              font-size: 12px;
            }
            &__text {
              font-size: 14px;
            }
          }
        }
      }
    }
    &__list {
      min-width: 760px;
      &-content {
        padding: 0 40px 0;
        &.active {
          padding: 24px 40px 26px;
        }
      }
      &-column {
        font-size: 14px;
        &:nth-child(2) {
          min-width: 136px;
        }
        &:nth-child(3) {
          min-width: 118px;
        }
        &:nth-child(4) {
          min-width: 280px;
        }
        &:nth-child(5) {
          min-width: 100px;
        }
      }
      &-button {
        font-size: 14px;
      }
    }
  }
}
@mixin layouts-768 {
  .investors {
    &__info {
      &-text {
        font-size: 14px;
      }
    }
    &__group {
      &-box {
        flex: unset;
        flex-direction: column;
        width: 100%;
      }
      .input {
        flex: unset;
        width: 100%;
      }
    }
  }
}
@mixin layouts-580 {
  .welcome {
    &__group {
      gap: 20px;
      .button {
        font-size: 14px;
        min-width: 172px;
      }
    }
  }
  .form {
    &__row {
      .input {
        &__wrapper {
          width: 100%;
        }
      }
    }
    &__footer {
      .button {
        font-size: 14px;
      }
    }
  }
  .upload {
    gap: 30px;
    &--sm {
      gap: 26px;
    }
    h4 {
      margin-bottom: 5px;
    }
    .button {
      &--primary {
        font-size: 14px;
        min-width: 200px;
      }
    }
    &__group {
      gap: 20px;
    }
    .input {
      &--file {
        font-size: 18px;
      }
    }
  }
  .popUp {
    &__inner {
      &-content {
        padding: 20px 25px;
        border-radius: 8px;
      }
    }
    .button {
      &--ico {
        margin-bottom: 10px;
      }
    }
    h3 {
      margin-bottom: 10px;
    }
    p {
      font-size: 14px;
    }
  }
  .investors {
    &__info {
      &-item {
        width: 100%;
        &:last-child {
          flex-direction: column;
          .investors__info-text {
            width: 100%;
          }
        }
      }
    }
  }
}
@mixin layouts-460 {
  .welcome {
    &__group {
      flex-direction: column;
    }
  }
  .form {
    &__footer {
      &-group {
        flex-direction: column;
        gap: 16px;
      }
      .button {
        justify-content: center;
        &--primary {
          padding: 0.9em 1.5em 0.9em 2.2em;
        }
      }
    }
  }
}
