.welcome {
  display: flex;
  flex-direction: column;
  gap: 55px;
  padding: 76px 0 30px;
  &__box {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;
    max-width: 810px;
    margin: 0 auto;
  }
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 280px;
    margin: 0 auto 8px;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
  &__group {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
}
.form {
  padding: 38px 0 30px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  &__row {
    display: flex;
    gap: 14px;
    &._space {
      margin: 6px 0 2px;
      &Lg {
        margin-bottom: 18px;
      }
    }
    .input {
      &__wrapper {
        width: calc(25% - 7px);
        &._lg {
          width: calc(50% - 7px);
        }
      }
    }
  }
  &__footer {
    display: flex;
    flex-direction: column;
    gap: 14px;
    p {
      font-weight: 600;
    }
    &-group {
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }
  }
  .input {
    textarea {
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
.upload {
  display: flex;
  flex-direction: column;
  gap: 84px;
  padding: 46px 0 32px;
  text-align: center;
  &--sm {
    gap: 26px;
  }
  &__file {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 425px;
    min-height: 200px;
    margin: 0 auto;
    border: 1px dashed $black-secondary;
    padding: 30px;
    &._column {
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      gap: 10px;
    }
    &-item {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      @include transition;
      h4 {
        @include transition;
      }
      .button {
        &--ico {
          width: 16px;
          height: 18px;
          .ico {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  &__group {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    &-box {
      color: $black-secondary;
      font-size: 15px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
      flex-wrap: wrap;
      a {
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
      }
    }
    &-buttons {
      display: flex;
      gap: 20px;
    }
    .button {
      &--ico {
        width: 20px;
        height: 24px;
        color: $black;
        .ico {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  & > h4 {
    margin: 0 auto 16px;
    margin-bottom: 16px;
    max-width: 640px;
  }
  .button {
    &._sm {
      margin-left: auto;
      padding: 0.85em 1.5em 0.85em 1em;
    }
  }
}
.popUp {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: rgba(204, 204, 204, 0.5);
  backdrop-filter: blur(6.5px);
  flex-direction: column;
  display: none;
  animation-name: fadeIn;
  animation-duration: 0.3s;
  &__inner {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    &-content {
      background: $white;
      padding: 32px 40px;
      box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03);
      border-radius: 12px;
      border: 1px solid $white;
      background-color: $white-2;
      width: 100%;
      max-width: 574px;
      margin: auto;
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: center;
    }
    &-image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90%;
      max-width: 230px;
      margin: 0 auto;
      img {
        width: 100%;
      }
    }
  }
  h3 {
    max-width: 425px;
    font-family: $font-secondary;
    margin: 0 auto 14px;
  }
  p {
    max-width: 410px;
    font-size: 16px;
    margin: 0 auto 4px;
  }
  .button {
    &--ico {
      margin-left: auto;
      color: $black-secondary;
    }
  }
  &.active {
    display: flex;
  }
}

@mixin layouts-1160 {
  .welcome {
    padding: 50px 0 30px;
  }
  .upload {
    gap: 70px;
    &--sm {
      gap: 26px;
    }
  }
}
@mixin layouts-940 {
  .welcome {
    padding: 30px;
    gap: 40px;
    &__box {
      gap: 18px;
    }
  }
  .form {
    padding: 30px 0;
  }
  .upload {
    padding: 30px 0;
    gap: 50px;
    &--sm {
      gap: 26px;
    }
  }
}
@mixin layouts-860 {
  .form {
    gap: 20px;
    &__row {
      flex-wrap: wrap;
      gap: 20px 14px;
      .input {
        &__wrapper {
          width: calc(50% - 14px);
          &._lg {
            width: 100%;
          }
        }
      }
      &._space {
        margin: 0;
        &Lg {
          margin-bottom: 10px;
        }
      }
    }
  }
  .upload {
    &__file {
      padding: 20px;
    }
  }
}
@mixin layouts-580 {
  .welcome {
    &__group {
      gap: 20px;
      .button {
        font-size: 14px;
        min-width: 172px;
      }
    }
  }
  .form {
    &__row {
      .input {
        &__wrapper {
          width: 100%;
        }
      }
    }
    &__footer {
      .button {
        font-size: 14px;
      }
    }
  }
  .upload {
    gap: 30px;
    &--sm {
      gap: 26px;
    }
    h4 {
      margin-bottom: 5px;
    }
    .button {
      &--primary {
        font-size: 14px;
        min-width: 200px;
      }
    }
    &__group {
      gap: 20px;
    }
    .input {
      &--file {
        font-size: 18px;
      }
    }
  }
  .popUp {
    &__inner {
      &-content {
        padding: 20px 25px;
        border-radius: 8px;
      }
    }
    .button {
      &--ico {
        margin-bottom: 10px;
      }
    }
    h3 {
      margin-bottom: 10px;
    }
    p {
      font-size: 14px;
    }
  }
}
@mixin layouts-460 {
  .welcome {
    &__group {
      flex-direction: column;
    }
  }
  .form {
    &__footer {
      &-group {
        flex-direction: column;
        gap: 16px;
      }
      .button {
        justify-content: center;
        &--primary {
          padding: 0.9em 1.5em 0.9em 2.2em;
        }
      }
    }
  }
}
